<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.EpibolyMapper">

    <resultMap id="BaseResultMap" type="generator.entity.Epiboly">
            <id property="epibolyId" column="epiboly_id" jdbcType="INTEGER"/>
            <result property="epibolyOrderId" column="epiboly_order_id" jdbcType="INTEGER"/>
            <result property="epibolyName" column="epiboly_name" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="supervisorId" column="supervisor_id" jdbcType="INTEGER"/>
            <result property="monitorId" column="monitor_id" jdbcType="INTEGER"/>
            <result property="examinerId" column="examiner_id" jdbcType="INTEGER"/>
            <result property="epibolyTeam" column="epiboly_team" jdbcType="VARCHAR"/>
            <result property="epibolyDescription" column="epiboly_description" jdbcType="VARCHAR"/>
            <result property="epibolyAttachments" column="epiboly_attachments" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="createdUser" column="created_user" jdbcType="INTEGER"/>
            <result property="epibolyStatus" column="epiboly_status" jdbcType="INTEGER"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="epibolyProcess" column="epiboly_process" jdbcType="INTEGER"/>
            <result property="contractIds" column="contract_ids" jdbcType="VARCHAR"/>
            <result property="epibolyClient" column="epiboly_client" jdbcType="INTEGER"/>
            <result property="epibolyAmount" column="epiboly_amount" jdbcType="DECIMAL"/>
            <result property="isCompleted" column="is_completed" jdbcType="INTEGER"/>
            <result property="epibolyPic" column="epiboly_pic" jdbcType="VARCHAR"/>
            <result property="completedTime" column="completed_time" jdbcType="TIMESTAMP"/>
            <result property="completedVoucher" column="completed_voucher" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="epibolyArrangement" column="epiboly_arrangement" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="materialBill" column="material_bill" jdbcType="VARCHAR"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="epibolyCompany" column="epiboly_company" jdbcType="VARCHAR"/>
            <result property="epibolContacts" column="epibol_contacts" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        epiboly_id,epiboly_order_id,epiboly_name,
        start_time,supervisor_id,monitor_id,
        examiner_id,epiboly_team,epiboly_description,
        epiboly_attachments,created_time,created_user,
        epiboly_status,end_time,epiboly_process,
        contract_ids,epiboly_client,epiboly_amount,
        is_completed,epiboly_pic,completed_time,
        completed_voucher,is_deleted,epiboly_arrangement,
        update_time,material_bill,project_id,
        epiboly_company,epibol_contacts
    </sql>
</mapper>
