<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.LeaveMapper">

    <resultMap id="BaseResultMap" type="generator.entity.Leave">
            <id property="leaveId" column="leave_id" jdbcType="INTEGER"/>
            <result property="leaveUser" column="leave_user" jdbcType="INTEGER"/>
            <result property="leaveDepartment" column="leave_department" jdbcType="INTEGER"/>
            <result property="leaveDays" column="leave_days" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="DATE"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="leaveDescription" column="leave_description" jdbcType="VARCHAR"/>
            <result property="leavePic" column="leave_pic" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        leave_id,leave_user,leave_department,
        leave_days,start_time,end_time,
        leave_description,leave_pic,category_id,
        is_deleted
    </sql>
</mapper>
