<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.OvertimeMapper">

    <resultMap id="BaseResultMap" type="generator.entity.Overtime">
            <id property="overtimeId" column="overtime_id" jdbcType="INTEGER"/>
            <result property="overtimeUser" column="overtime_user" jdbcType="INTEGER"/>
            <result property="overtimeDepartment" column="overtime_department" jdbcType="INTEGER"/>
            <result property="overtimeDays" column="overtime_days" jdbcType="INTEGER"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="overtimeDescription" column="overtime_description" jdbcType="VARCHAR"/>
            <result property="overtimePic" column="overtime_pic" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        overtime_id,overtime_user,overtime_department,
        overtime_days,category_id,start_time,
        end_time,overtime_description,overtime_pic,
        is_deleted
    </sql>
</mapper>
