<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="generator.entity.Product">
            <id property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productOrderId" column="product_order_id" jdbcType="INTEGER"/>
            <result property="productFactoryCode" column="product_factory_code" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <result property="productBrand" column="product_brand" jdbcType="VARCHAR"/>
            <result property="productUnit" column="product_unit" jdbcType="VARCHAR"/>
            <result property="productModelname" column="product_modelname" jdbcType="VARCHAR"/>
            <result property="productCost" column="product_cost" jdbcType="DECIMAL"/>
            <result property="productPic" column="product_pic" jdbcType="VARCHAR"/>
            <result property="productTotal" column="product_total" jdbcType="INTEGER"/>
            <result property="recordIn" column="record_in" jdbcType="VARCHAR"/>
            <result property="recordOut" column="record_out" jdbcType="VARCHAR"/>
            <result property="productDescription" column="product_description" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_id,product_name,product_order_id,
        product_factory_code,category_id,product_brand,
        product_unit,product_modelname,product_cost,
        product_pic,product_total,record_in,
        record_out,product_description,is_deleted,
        product_price
    </sql>
</mapper>
